* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav p {
    color: white;
    font-size: 20px;
    margin: .5rem;
    font-weight: 700;
}


body {
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background: rgb(78, 122, 241);
    color: #fff;
    display: flex;
    justify-content: space-between;
}

nav .mainMenu {
    display: flex;
    list-style: none;
    font-weight: 550;
}

nav .mainMenu li a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: .7rem;
}
nav .mainMenu li a:hover {
    background: white;
    color: blue;
}

nav .openMenu {
    font-size: .6rem;
    margin: 20px;
    display: none;
}

nav .closeMenu {
    display: none;
}

nav .logo {
    margin: 6px;
    font-size: 18px;
    cursor: pointer;
}

h1 {
    text-align: center;
    /* margin-top: 1rem; */
}

.org h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    margin-top: 1rem;
}

.org .rom {
    text-align: center;
    font-weight: 600;
}

.org-text {
    display: flex;
}

.org-text .africa {
    width: 70%;
    margin-top: 2rem;
    font-size: 22px;
    font-weight: 550;
    opacity: .8;
    line-height: 1.9;
    margin-left: 1rem;
}

.org-img img {
    width: 100%;
    margin-top: 2rem;
}

.hero-text {
    display: flex;
}

.hero-text .fulani {
    width: 70%;
    margin-top: 2rem;
    font-size: 22px;
    font-weight: 550;
    opacity: .8;
    line-height: 2.1;
    margin-left: 1rem;
}

.hero-img img {
    width: 100%;
    margin-top: 2rem;
}

.home-text {
    display: flex;
}

.home-text .illit {
    width: 70%;
    margin-top: 2rem;
    font-size: 22px;
    font-weight: 550;
    opacity: .8;
    line-height: 2.1;
    margin-left: 1rem;
}

.home-img img {
    width: 100%;
    margin-top: 2rem;
}


footer {
    background-color: rgb(78, 122, 241);
    color: white;
    padding: 1rem;
    font-weight: 550;
    margin-top: 3rem;
}


@media(max-width:1000px){
    nav .mainMenu {
        height: 35vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 100;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgb(78, 122, 241);
        transition: top 1s ease;
        display: none;
        margin-top: 1rem;
    }

    .line {
        width: 100%;
    }

    nav .mainMenu .closeMenu {
        display: block;
        position: absolute;
        top: 0;
        right: 20px;
    }

    nav .openMenu {
        display: block;
    }

    nav .mainMenu li a:hover {
        background: none;
        color: white;
        font-size: .7rem;
    }

    nav .logo {
        font-size: 15px;
    }

    .org-text {
        display: grid;
    }

    .org-text .africa {
        width: 100%;
        text-align: center;
        font-size: 18px;
    }

    .hero-text {
        display: grid;
    }

    .hero-text .fulani {
        width: 100%;
        text-align: center;
        font-size: 18px;
    }

    .home-text {
        display: grid;
    }

    .home-text .illit {
        width: 100%;
        text-align: center;
        font-size: 18px;
    }

    footer {
        font-size: 13px;
    }
}