* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav p {
    color: white;
    font-size: 20px;
    margin: .5rem;
    font-weight: 700;
}


body {
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background: blue;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

nav .mainMenu {
    display: flex;
    list-style: none;
    font-weight: 550;
}

nav .mainMenu li a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: .7rem;
}
nav .mainMenu li a:hover {
    background: white;
    color: blue;
}

nav .openMenu {
    font-size: .6rem;
    margin: 20px;
    display: none;
}

nav .closeMenu {
    display: none;
}

nav .logo {
    margin: 6px;
    font-size: 18px;
    cursor: pointer;
}

.gender button {
    cursor: pointer;
}

.gender button:hover {
    background-color: blue;
    color: white;
}

.hero {
    display: flex;
    justify-content: space-between;
}

.hero-text {
    margin: 5rem;
}

.hero-text h1 {
    line-height: 1.5;
}

.hero-text p {
    font-size: 20px;
    margin-top: 15px;
    font-weight: 550;
    opacity: .8;
}

.hero-text button {
    margin-top: 15px;
    margin-left: 10px;
    padding: .4rem;
    border-radius: 8px;
    padding-left: 2rem;
    padding-right: 2rem;
    border: 1.6px solid;
    border-color: blue;
}

.hero-text select {
    margin-top: 20px;
    display: grid;
    padding: .4rem;
    width: 100%;
    outline: none;
    cursor: pointer;
}

.mat {
    background-color: blue;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    padding: .4rem;
    font-weight: 550;
}

.boy {
    display: flex;
}

.hero-text a {
    color: white;
    text-decoration: none;
}

.hero-img {
    display: flex;
    justify-content: space-between;
}

.hero-img img {
    width: 70%;
    margin-top: 2rem;
    margin-left: 5rem;
}

.link {
    display: flex;
    justify-content: center;
}

.link a {
    text-decoration: none;
    background-color: blue;
    color: white;
    padding: .8rem;
    margin-top: 1rem;
    font-weight: 550;
}

.doing {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.org {
    display: flex;
    justify-content: space-between;
}

.org-text {
    width: 90%;
}

.org-text p {
    opacity: .8;
    font-weight: 550;
    line-height: 1.9;
    width: 100%;
    font-size: 20px;
    margin-top: 2rem;
}


.ref img {
    width: 98%;
    margin-top: 2.5rem;
}

.do h1 {
    text-align: center;
    margin-top: 2rem;
    font-size: 30px;
    font-weight: 700;
}

.donate {
    display: flex;
}

.donate p {
    margin-top: 1.8rem;
    line-height: 2.2;
    font-size: 20px;
    opacity: .8;
    font-weight: 550;
    width: 80%;
    margin-left: .5rem;
}

.what img {
    width: 100%;
    margin-top: 2.5rem;
}

footer {
    background-color: blue;
    color: white;
    padding: 1rem;
    font-weight: 550;
}

@media(max-width:1000px){
    nav .mainMenu {
        height: 40vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 100;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: blue;
        transition: top 1s ease;
        display: none;
        margin-top: 1rem;
    }

    .fas fa-bars {
        cursor: pointer;
    }

    .line {
        width: 100%;
    }

    nav .mainMenu .closeMenu {
        display: block;
        position: absolute;
        top: 0;
        right: 20px;
    }

    nav .openMenu {
        display: block;
    }

    nav .mainMenu li a:hover {
        background: none;
        color: white;
        font-size: .7rem;
    }

    nav .logo {
        font-size: 15px;
    }

    nav {
        flex-wrap: wrap;
    }


    .hero {
        display: grid;
    }
    .hero-img {
        display: grid;
    }

    .hero-img img {
        margin-top: 0;
        width: 100%;
        margin-left: 0;
    }

    .hero-text h1 {
        text-align: center;
    }

    .hero-text p {
        text-align: center;
    }

    .boy {
        display: grid;
        margin: 0 auto;       
    }

    .org {
        display: grid;
    }

    .org-text {
        font-size: 15px;
        line-height: 1.8;
        text-align: center;
        margin-top: 1rem;
        width: 100%;
    }

    .org-text p {
        font-size: 17px;
        font-weight: 550;
        opacity: .8;
        text-align: center;
    }

    .ref img {
        width: 100%;
        margin-left: 0;
    }

    .gender {
        display: flex;
        flex-wrap: wrap;
    }

    .do h1 {
        font-size: 20px
    }

    .donate {
        display: grid;
    }

    .donate p {
        text-align: center;
        margin-left: 0;
        width: 100%;
        font-size: 17px;
    }

    footer {
        font-size: 13px;
    }
}