* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav p {
    color: white;
    font-size: 20px;
    margin: .5rem;
    font-weight: 700;
}


body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}

nav {
    background: rgb(78, 122, 241);
    color: #fff;
    display: flex;
    justify-content: space-between;
}

nav .mainMenu {
    display: flex;
    list-style: none;
    font-weight: 550;
}

nav .mainMenu li a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: .7rem;
}
nav .mainMenu li a:hover {
    background: white;
    color: blue;
}

nav .openMenu {
    font-size: .6rem;
    margin: 20px;
    display: none;
}

nav .closeMenu {
    display: none;
}

nav .logo {
    margin: 6px;
    font-size: 18px;
    cursor: pointer;
}

.gender button {
    cursor: pointer;
}

.gender button:hover {
    background-color: blue;
    color: white;
}

.hero {
    display: flex;
    justify-content: space-between;
}

.hero-text {
    margin: 5rem;
}

.hero-text h1 {
    line-height: 1.5;
}

.hero-text p {
    font-size: 20px;
    margin-top: 15px;
    font-weight: 400;
    opacity: .8;
}

.hero-text button {
    margin-top: 15px;
    margin-left: 10px;
    padding: .4rem;
    border-radius: 8px;
    padding-left: 2rem;
    padding-right: 2rem;
    border: 1.6px solid;
    border-color: rgb(78, 122, 241);
}

.hero-text select {
    margin-top: 20px;
    display: grid;
    padding: .4rem;
    width: 100%;
    outline: none;
    cursor: pointer;
}

.hero-text .space {
    margin-top: 1.5rem;
    text-align: center;
    background-color: rgb(78, 122, 241);
    padding: .4rem;
    font-weight: 600;
    color: white;
    width: 100%;
    border: none;
    cursor: pointer;
}

.mat {
    margin-top: 25px;
    font-weight: 300;
    display: flex;
    justify-content: center;
}

.mat a {
    text-decoration: none;
    background-color: rgb(78, 122, 241);
    color: white;
    padding: 1rem;
    width: 25%;
    border-radius: 5px;
    text-align: center;
}

.boy {
    display: flex;
}

.hero-text a {
    color: white;
    text-decoration: none;
}

.hero-img {
    display: flex;
    justify-content: space-between;
}

.hero-img img {
    width: 70%;
    margin-top: 2rem;
    margin-left: 5rem;
}

.link {
    display: flex;
    justify-content: center;
}

.link a {
    text-decoration: none;
    background-color: rgb(78, 122, 241);
    color: white;
    padding: .8rem;
    margin-top: 1rem;
    font-weight: 550;
}

.doing {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-left: 1rem;
}

.org {
    display: flex;
    justify-content: space-between;
}

.org-text {
    width: 100%;
}

.org-text p {
    margin-top: .5rem;
    opacity: .8;
    font-weight: 400;
    line-height: 2.5;
    width: 100%;
    font-size: 18px;
    text-align: center;
}

.do h1 {
    text-align: center;
    margin-top: 2rem;
    font-size: 30px;
    font-weight: 700;
    margin-left: 1rem;
}

.donate {
    display: flex;
}

.donate p {
    margin-top: .5rem;
    line-height: 2.5;
    font-size: 18px;
    opacity: .8;
    font-weight: 300;
    width: 100%;
    margin-left: 1rem;
    text-align: center;
}

.africa {
    background: rgb(78, 122, 241);
    width: 30%;
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.africa p {
    color: white;
    text-align: center;
    font-size: 22px;
    cursor: pointer;
}



.Ay {
    color: purple;
}

.school {
    margin-top: 3rem;
}

.camp {
    display: flex;
}

.ref {
    background-color: rgb(228, 222, 222);
    border-radius: 15px;
    width: 30%;
    margin-left: 1rem;
    padding: 2rem;
}

.ref h1 {
    font-size: 20px;
    text-align: center;
    margin-top: .6rem;
}

.ref p {
    width: 100%;
    line-height: 1.5;
    text-align: center;
    margin-top: .5rem;
    font-size: 15px;
    font-weight: 300;
}

.cam {
    background-color: rgb(228, 222, 222);
    width: 30%;
    margin-left: 3rem;
    padding: 2rem;
    border-radius: 15px;
}

.cam h1 {
    font-size: 20px;
    text-align: center;
    margin-top: .6rem;
}

.cam p {
    width: 100%;
    line-height: 1.5;
    text-align: center;
    margin-top: .5rem;
    font-size: 15px;
    font-weight: 300;
}

.mis {
    background-color: rgb(228, 222, 222);
    width: 30%;
    padding: 2rem;
    border-radius: 15px;
    margin-left: 3rem;
}

.mis h1 {
    font-size: 20px;
    text-align: center;
    margin-top: .6rem;
}

.mis p {
    width: 100%;
    line-height: 1.5;
    text-align: center;
    margin-top: .5rem;
    font-size: 15px;
    font-weight: 300;
}

.mission {
    display: flex;
    justify-content: space-around;
}

.tree {
    background-color: rgb(228, 222, 222);
    width: 30%;
    padding: 2rem;
    border-radius: 15px;
    margin-left: 3rem;
    margin-top: 2rem;
}

.tree h1 {
    font-size: 20px;
    text-align: center;
    margin-top: .6rem;
}

.tree p {
    width: 100%;
    line-height: 1.5;
    text-align: center;
    margin-top: .5rem;
    font-size: 15px;
    font-weight: 300;
}

.abt {
    background-color: rgb(228, 222, 222);
    width: 30%;
    padding: 1rem;
    border-radius: 15px;
    margin-left: 3rem;
    margin-top: 2rem;
}

.abt h1 {
    font-size: 20px;
    font-size: 20px;
    text-align: center;
    margin-top: .6rem;
}

.abt p {
    width: 100%;
    line-height: 1.5;
    text-align: center;
    margin-top: .5rem;
    font-size: 15px;
}

footer {
    background-color: rgb(78, 122, 241);
    color: white;
    padding: 1rem;
    font-weight: 550;
    margin-top: 7rem;
}

@media(max-width:1000px){
    nav .mainMenu {
        height: 43vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 100;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgb(78, 122, 241);
        transition: top 1s ease;
        display: none;
    }

    nav .mainMenu .closeMenu {
        display: block;
        position: absolute;
        top: 0;
        right: 20px;
    }

    nav .openMenu {
        display: block;
    }

    nav .mainMenu li a:hover {
        background: none;
        color: white;
        font-size: .8rem;
    }

    nav .logo {
        font-size: 15px;
    }

    nav {
        flex-wrap: wrap;
    }


    .hero {
        display: grid;
    }

    .hero-text h1 {
        text-align: center;
    }

    .hero-text p {
        text-align: center;
    }

    .hero-img {
        display: grid;
    }

    .hero-img img {
        margin-top: 0;
        width: 100%;
        margin-left: 0;
    }

    .boy {
        display: grid;
        margin: 0 auto;       
    }

    .doing {
        justify-content: start;
    }

    .doing h1 {
        font-size: 20px;
        font-weight: 1000;
        margin: 0;
        /* text-decoration: underline; */
    }

    .mat a {
        padding: 0;
        padding: .4rem;
    }


    .org {
        display: grid;
    }

    .org-text {
        margin-top: .5rem;
    }

    .org-text p {
        font-size: 15px;
        font-weight: 400;
        opacity: .8;
        margin: 0;
        margin-left: 1rem;
        width: 95%;
        text-align: start;
    }

    .mat a {
        width: 70%;
    }

    .gender {
        display: flex;
        flex-wrap: wrap;
    }

    .do h1 {
        font-size: 20px;
        margin-left: 1rem;
        text-align: start;
    }

    .donate {
        display: grid;
    }

    .donate p {
        margin-left: 0;
        width: 95%;
        font-size: 15px;
        margin-left: 1rem;
        text-align: start;
    }

    .africa {
        margin: 0;
        width: 60%;
        padding: 0;
        padding: .5rem;
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }

    .africa p {
        font-size: 18px;
    }

    .camp {
        display: grid;
    }

    .ref {
        width: 80%;
        margin: 0;
        margin: 0 auto;
        
    }

    .cam {
        width: 80%;
        margin: 0;
        margin: 0 auto;
        margin-top: 2rem;
    }

    .mis {
        width: 80%;
        margin: 0;
        margin: 0 auto;
        margin-top: 2rem;
    }

    .mission {
        display: grid;
    }

    .tree {
        width: 80%;
        margin: 0;
        margin: 0 auto;
        margin-top: 2rem;
    }

    .abt {
        width: 80%;
        margin: 0;
        margin: 0 auto;
        margin-top: 2rem;
    }

    footer {
        font-size: 13px;
        margin-top: 6rem;
    }
}