* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav p {
    color: white;
    font-size: 20px;
    margin: .5rem;
    font-weight: 700;
    position: fixed;
}


body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100%;
    background: linear-gradient(to top, rgba(231, 228, 228, 0.5)50%,rgba(233, 231, 231, 0.5)50%), url(Screenshot_20230302-195740.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

nav {
    background: rgb(78, 122, 241);
    color: #fff;
    display: flex;
    justify-content: space-between;
}

nav .mainMenu {
    display: flex;
    list-style: none;
    font-weight: 550;
}

nav .mainMenu li a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: .7rem;
}
nav .mainMenu li a:hover {
    background: white;
    color: blue;
}

nav .openMenu {
    font-size: 1rem;
    margin: 20px;
    display: none;
}

nav .closeMenu {
    display: none;
}

nav .logo {
    margin: 6px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 5px;
}

.gender, .boys {
    cursor: pointer;
}

.gender .boys:hover {
    background-color: blue;
    color: white;
}

.hero {
    display: flex;
    justify-content: space-between;
}

.hero-text {
    margin-top: 5rem;
    margin-left: 5rem;
}

.hero-text h1 {
    line-height: 1.5;
}

.hero-text p {
    font-size: 20px;
    margin-top: 15px;
    font-weight: 400;
    opacity: .8;
}

.hero-text button {
    margin-top: 15px;
    margin-left: 2px;
    padding: .4rem;
    border-radius: 8px;
    padding-left: 2rem;
    padding-right: 2rem;
    border: 1.6px solid;
    border-color: rgb(78, 122, 241);
}

.hero-text select {
    margin-top: 20px;
    display: grid;
    padding: .4rem;
    width: 100%;
    outline: none;
    cursor: pointer;
}

.ayo {
    margin-top: 2.5rem;
}

.ayo .space {
    margin-top: .5rem;
    text-align: center;
    background-color: rgb(78, 122, 241);
    padding: .5rem;
    font-weight: 600;
    color: white;
    display: flex;
    justify-content: center;
    width: 100%;
    border: none;
    cursor: pointer;
}

.mat {
    margin-top: 25px;
    font-weight: 300;
    display: flex;
    justify-content: center;
}

.mat a {
    text-decoration: none;
    background-color: rgb(78, 122, 241);
    color: white;
    padding: 1rem;
    width: 25%;
    border-radius: 5px;
    text-align: center;
}

.boy {
    display: flex;
}

.hero-text a {
    color: white;
    text-decoration: none;
}

.hero-img {
    display: flex;
    justify-content: space-between;
}

.hero-img img {
    width: 70%;
    margin-top: 2rem;
    margin-left: 5rem;
}

.link {
    display: flex;
    justify-content: center;
}

.link a {
    text-decoration: none;
    background-color: rgb(78, 122, 241);
    color: white;
    padding: .8rem;
    margin-top: 1rem;
    font-weight: 550;
}

.doing {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-left: 1rem;
}

.org {
    display: flex;
    justify-content: space-between;
}

.org-text {
    width: 100%;
}

.org-text p {
    margin-top: .5rem;
    opacity: .8;
    font-weight: 400;
    line-height: 2.5;
    width: 100%;
    font-size: 18px;
    text-align: center;
}

.do h1 {
    text-align: center;
    margin-top: 2rem;
    font-size: 30px;
    font-weight: 700;
    margin-left: 1rem;
}

.donate {
    display: flex;
}

.donate p {
    margin-top: .5rem;
    line-height: 2.5;
    font-size: 18px;
    opacity: .8;
    font-weight: 300;
    width: 100%;
    margin-left: 1rem;
    text-align: center;
}

.africa {
    background: rgb(78, 122, 241);
    width: 30%;
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.africa p {
    color: white;
    text-align: center;
    font-size: 22px;
    cursor: pointer;
}



.Ay {
    color: purple;
}

.school {
    margin-top: 3rem;
}

.camp {
    display: flex;
}

.ref {
    background: linear-gradient(to top, rgba(231, 228, 228, 0.5)50%,rgba(233, 231, 231, 0.5)50%), url(/Picture\ 1.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 50rem;
    width: 30%;
    margin-left: 1rem;
    padding: 2rem;
    font-weight: 800;
}

.ref h1 {
    font-size: 25px;
    text-align: center;
    margin-top: .6rem;
}

.ref p {
    width: 100%;
    line-height: 1.5;
    text-align: center;
    margin-top: .5rem;
    font-size: 15px;
    font-weight: 500;
}

.cam {
    background: linear-gradient(to top, rgba(231, 228, 228, 0.5)50%,rgba(233, 231, 231, 0.5)50%), url(/Picture\ 6.jpg);
    background-position: center;
    background-size: cover;
    width: 30%;
    margin-left: 3rem;
    padding: 2rem;
    border-radius: 50rem;
}

.cam h1 {
    font-size: 25px;
    text-align: center;
    margin-top: .6rem;
}

.cam p {
    width: 100%;
    line-height: 1.5;
    text-align: center;
    margin-top: .5rem;
    font-size: 15px;
    font-weight: 500;
}

.mis {
    background: linear-gradient(to top, rgba(231, 228, 228, 0.5)50%,rgba(233, 231, 231, 0.5)50%), url(/Picture\ 30.jpg);
    background-position: center;
    background-size: cover;
    width: 30%;
    padding: 2rem;
    border-radius: 50rem;
    margin-left: 3rem;
}

.mis h1 {
    font-size: 25px;
    text-align: center;
    margin-top: .6rem;
}

.mis p {
    width: 100%;
    line-height: 1.5;
    text-align: center;
    margin-top: .5rem;
    font-size: 15px;
    font-weight: 500;
}

.mission {
    display: flex;
    justify-content: space-around;
}

.tree {
    background: linear-gradient(to top, rgba(231, 228, 228, 0.5)50%,rgba(233, 231, 231, 0.5)50%), url(/Picture\ 7.jpg);
    background-position: center;
    background-size: cover;
    width: 30%;
    padding: 2rem;
    border-radius: 50rem;
    margin-left: 3rem;
    margin-top: 2rem;
}

.tree h1 {
    font-size: 25px;
    text-align: center;
    margin-top: .6rem;
}

.tree p {
    width: 100%;
    line-height: 1.5;
    text-align: center;
    margin-top: .5rem;
    font-size: 15px;
    font-weight: 500;
}

.abt {
    background: linear-gradient(to top, rgba(231, 228, 228, 0.5)50%,rgba(233, 231, 231, 0.5)50%), url(/IMG-20221224-WA0033.jpg);
    background-position: center;
    background-size: cover;
    width: 25%;
    padding: 1rem;
    border-radius: 70rem;
    margin-left: 3rem;
    margin-top: 2rem;
}

.abt h1 {
    font-size: 25px;
    text-align: center;
    margin-top: .6rem;
}

.abt p {
    width: 100%;
    line-height: 1.5;
    text-align: center;
    margin-top: .5rem;
    font-size: 15px;
    font-weight: 500;
}

.slider {
    width: 50%;
    /* height: 500px; */
    border-radius: 10px;
    overflow: hidden;
    justify-content: center;
    margin: 0 auto;
    margin-top: 5rem;
}

.slides {
    width: 500%;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slide img {
    width: 100%;
}

.navigation-manual {
    position: absolute;
    width: 58.7%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
    margin-top: 400px;
    display: none;
}

.manual-btn {
    border: 2px solid yellow;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    margin-top: 40px;
    display: none;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover {
    background: yellow;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -20%;
}

#radio3:checked ~ .first {
    margin-left: -40%;
}

#radio4:checked ~ .first {
    margin-left: -60%;
}

.navigation-auto {
    position: absolute;
    display: flex;
    width: 58.7%;
    justify-content: center;
    margin-top: 440px;
    display: none;
}

.navigation-auto div {
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
    display: none;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background-color: yellow;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
    background-color: yellow;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
    background-color: yellow;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
    background-color: yellow;
}

.city {
    display: flex;
    background: rgb(88, 88, 177);
    color: white;
    margin-top: 3rem;
}

.refuge h1 {
    font-size: 20px;
    margin-left: 3rem;
}

.refuge, .street {
    width: 50%;
    margin-top: 1rem;
    margin-left: 3rem;
}

.refuge, .email {
    margin-top: 2rem;
    margin-left: 3rem;
}

.refuge, .phone {
    margin-left: 3rem;
}

.useful h1 {
    font-size: 20px;
    margin-top: 2rem;
    margin-left: 1rem;
}


.icons {
    text-decoration: none;
    color: #fff;
}

.icons i {
    color: #fff;
    font-size: 30px;
    padding-left: 14px;
    padding-top: 5px;
    transition: 0.3s ease;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.line {
    width: 15%;
    margin-left: 1rem;
    margin-top: .5rem;
}

.useful, .links {
    list-style: none;
    list-style: square;
}

.links, .cit {
    margin: 1rem;
}

.cit, .of {
    color: white;
    text-decoration: none;
    opacity: .8;
}

.create {
    background-color: rgb(78, 122, 241);
    color: white;
    padding: 1rem;
    font-weight: 550;
}

@media(max-width:1000px){
    nav .mainMenu {
        height: 46vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 100;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgb(78, 122, 241);
        transition: top 1s ease;
        display: none;
    }

    nav .mainMenu .closeMenu {
        display: block;
        position: absolute;
        top: 0;
        right: 20px;
        cursor: pointer;
        font-size: 1.7rem;
        margin-top: 1rem;
    }

    nav .openMenu {
        display: block;
        cursor: pointer;
    }

    nav .mainMenu li a:hover {
        background: none;
        color: white;
        font-size: .8rem;
    }

    nav .logo {
        font-size: 15px;
        margin-top: 1rem;
    }

    nav {
        flex-wrap: wrap;
    }


    .hero {
        display: grid;
    }

    .hero-text {
        margin: 0;
        margin-top: 5rem;
        text-align: center;
    }

    form {
        width: 70%;
        margin: 0 auto;
    }

    .hero-text h1 {
        text-align: center;
        width: 80%;
        margin: 0 auto;
    }

    .hero-text p {
        text-align: center;
    }

    .hero-img {
        display: grid;
    }

    .hero-img img {
        margin-top: 0;
        width: 100%;
        margin-left: 0;
    }

    .ayo .space{
        margin: 0 auto;
        margin-bottom: 2rem;
        width: 70%;
    }

    .boy {
        display: grid;
        margin: 0 auto;       
    }

    .doing {
        justify-content: start;
    }

    .doing h1 {
        font-size: 20px;
        font-weight: 1000;
        margin: 0;
        /* text-decoration: underline; */
    }

    .mat a {
        padding: 0;
        padding: .4rem;
    }


    .org {
        display: grid;
    }

    .org-text {
        margin-top: .5rem;
    }

    .org-text p {
        font-size: 15px;
        font-weight: 400;
        opacity: .8;
        margin: 0;
        margin-left: 1rem;
        width: 95%;
        text-align: start;
    }

    .mat a {
        width: 70%;
    }

    .gender {
        display: flex;
        flex-wrap: wrap;
    }

    .do h1 {
        font-size: 20px;
        margin-left: 1rem;
        text-align: start;
    }

    .donate {
        display: grid;
    }

    .donate p {
        margin-left: 0;
        width: 95%;
        font-size: 15px;
        margin-left: 1rem;
        text-align: start;
    }

    .africa {
        margin: 0;
        width: 60%;
        padding: 0;
        padding: .5rem;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        margin-top: 2rem;
    }

    .africa p {
        font-size: 18px;
    }

    .camp {
        display: grid;
    }

    .ref {
        width: 100%;
        margin: 0;
        margin: 0 auto;
        border-radius: 0;
        /* border-radius: 5px;    */
    }

    .cam {
        width: 100%;
        margin: 0;
        margin: 0 auto;
        margin-top: 4rem;
        border-radius: 0;
    }

    .mis {
        width: 100%;
        margin: 0;
        margin: 0 auto;
        margin-top: 4rem;
        border-radius: 0;
    }

    .mission {
        display: grid;
    }

    .tree {
        width: 100%;
        margin: 0;
        margin: 0 auto;
        margin-top: 4rem;
        border-radius: 0;
    }

    .abt {
        width: 100%;
        margin: 0;
        margin: 0 auto;
        margin-top: 4rem;
        border-radius: 0;
    }

    .navigation-manual {
        margin: 0;
        justify-content: center;
        margin: 0 auto;
        margin-top: 20rem;
        margin-left: 5.7rem;
    }

    .manual-btn {
        margin: 0;
        /* justify-content: center;
        margin: 0 auto; */
    }

    .navigation-auto {
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        margin-top: 20rem;
        margin-left: 5.7rem;
    }

    .slider {
        width: 100%;
    }

    .city {
        display: grid;
        margin-top: 3rem;
    }

    .line {
        width: 7%;
    }

    .refuge {
        margin: 0;
    }

    .refuge h1 {
        margin: 0;
        margin-left: .4rem;
        margin-top: 1rem;
    }

    .refuge, .street {
        margin: 0;
        margin-left: .4rem;
        margin-top: 1rem;
        width: 70%;
    }

    .refuge, .email {
        margin: 0;
        margin-left: .4rem;
        margin-top: 1rem;
    }

    .refuge, .phone {
        margin: 0;
        margin-left: .4rem;
    }

    .create {
        font-size: 13px;
        text-align: center;
        padding: 2rem;
    }
}