* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav p {
    color: white;
    font-size: 20px;
    margin: .5rem;
    font-weight: 700;
}


body {
    font-family: 'Times New Roman', Times, serif;
}

nav {
    background: rgb(78, 122, 241);
    color: #fff;
    display: flex;
    justify-content: space-between;
}

nav .mainMenu {
    display: flex;
    list-style: none;
    font-weight: 550;
}

nav .mainMenu li a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: .7rem;
}
nav .mainMenu li a:hover {
    background: white;
    color: blue;
}

nav .openMenu {
    font-size: .6rem;
    margin: 20px;
    display: none;
}

nav .closeMenu {
    display: none;
}

nav .logo {
    margin: 6px;
    font-size: 18px;
    cursor: pointer;
}

.hero h1 {
    text-align: center;
    margin-top: 1rem;
    font-size: 20px;
}

.hero-text .founders {
    margin-top: 1rem;
    font-size: 20px;
    width: 100%;
    text-align: center;
}

.hero-text h2 {
    margin-left: 2rem;
    text-decoration-line: underline;
    margin-top: 1rem;
}

.hero-text .serve {
    margin-left: 2rem;
    margin-top: 1rem;
    font-size: 20px;
    line-height: 1.8;
    opacity: .6;
    font-weight: 550;
}

.hero-text .ministry {
    font-size: 20px;
    margin-top: 1rem;
    margin-left: 2rem;
    line-height: 2.0;
    opacity: .6;
    font-weight: 550;
}

footer {
    background-color: rgb(78, 122, 241);
    color: white;
    padding: 1rem;
    font-weight: 550;
    margin-top: 3rem;
}


@media(max-width:1000px){
    nav .mainMenu {
        height: 30vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 100;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgb(78, 122, 241);
        transition: top 1s ease;
        display: none;
        margin-top: 1rem;
    }

    nav .mainMenu .closeMenu {
        display: block;
        position: absolute;
        top: 0;
        right: 20px;
    }

    nav .openMenu {
        display: block;
    }

    nav .mainMenu li a:hover {
        background: none;
        color: white;
        font-size: .7rem;
    }

    nav .logo {
        font-size: 15px;
    }

    .hero h1 {
        font-size: 19px;
    }

    .hero-text .founders {
        margin: 0;
        text-align: center;
        font-size: 18px;
        margin-top: 1rem;
        opacity: .8;
    }

    .hero-text h2 {
        margin: 0;
        text-align: center;
        margin-top: 1rem;
        font-size: 18px;       
    }

    .hero-text .serve {
        margin: 0;
        text-align: center;
        margin-top: 1rem;
        font-size: 18px;
    }

    .hero-text .ministry {
        margin: 0;
        text-align: center;
        font-size: 18px;
        margin-top: .5rem;
    }

    footer {
        font-size: 13px;
        margin-top: 3rem;
    }
}